<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">  
    <title>Chat Page</title>
  </head>
  <body>
    <div class="chat-container">
      <!-- Chat messages will be added here -->
    </div>
    <form id="chat-form">
      <input type="text" id="message-input" placeholder="Enter your message here">
      <button type="submit">Send</button>
    </form>

    <!-- Add JavaScript file -->
    <script src="../static/script.js"></script>
  </body>
</html>


